body {
  font-size: 16px;
  font-family: "Red Hat Display", sans-serif;
  color: gray;
  background-color: hsl(225, 100%, 94%);
  box-sizing: border-box;
}

main {
  margin: 15rem auto;
  height: auto;
  background-color: #fff;
  width: 25rem;
  border-radius: 1rem;
  padding-bottom: 2rem;
  text-align: center;
}
.top-img {
  width: 100%;
  border-radius: 1rem 1rem 0rem 0rem;
}
.text {
  text-align: center;
  margin: 0rem 12%;
}
h1 {
  margin-top: 2rem;
  font-size: 24px;
  color: hsl(223, 47%, 23%);
  margin-bottom: 1rem;
}
.offer {
  height: 4rem;
  background-color: hsl(225, 100%, 98%);
  margin: 2rem;
  border-radius: 1rem;
  padding: 0.5rem;
}

.music-icon {
  float: left;
  width: 3rem;
  margin: 0.5rem;
  margin-right: 1rem;
}
.plan {
  float: left;
  font-size: 14px;
}
span {
  color: black;
}
.change {
  display: inline-block;
  margin: 0.5rem;
}
.btn-payment {
  background-color: hsl(245, 75%, 52%);
  color: #fff;
  font-weight: bold;
  padding: 1rem 6rem;
  border-style: solid;
  border-color: transparent;
  border-radius: 10px;
  box-shadow: 0 5px 20px 0px hsl(245, 75%, 52%, 0.2);
}
.change {
  float: right;
}
.btn-payment:active {
  opacity: 0.5;
}
.change a:active {
  color: hsl(245, 75%, 52%);
  text-decoration: none;
}
.cancel a {
  color: gray;
  text-decoration: none;
}
.cancel a:active {
  font-weight: bold;
  color: hsl(223, 47%, 23%);
}
.attribution {
  margin: auto;
}

@media (max-width: 350px) {
  main {
    margin: 10rem auto;
    width: 19rem;
    padding-bottom: 1rem;
  }
  .text {
    text-align: center;
    margin: 0rem 10%;
  }
  h1 {
    margin-top: 1.5rem;
  }
  .btn-payment {
    padding: 1rem 0rem;
    width: 80%;
    font-size: 16px;
  }
}
